@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.hero{
width: 100%;
min-height: 15%;
text-align: center;

}

.title {
    text-align:center; 
    font-size:50px; 
    text-transform:uppercase; 
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
    
}

.subtitle{
    margin-top: 5px;
    font-size:20px; 
    color:#444; 
    word-spacing:1px; 
    font-weight:normal; 
    letter-spacing:2px;
    text-transform: uppercase; 
    font-family:"Raleway", sans-serif; 
    font-weight:500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    
}
 .subtitle:after, .subtitle::before{
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
 }

 

 .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 80%;
 }

 .mapControls{
    position: absolute;
    left: 100px;
    z-index: 1000;
 }

 .mapControls select {
    font-size: 30px
 }

 .map{
    display: flex;

    width: 50%;
    height: 100%;
    
 }

 .eventsContainer {
    border: 3px red solid;
    width: 50%;
 }

 .selectedEvent {
    border: 3px blue solid;
    width: 100%;
    height: 50%;
 }

 .selectedEvent img {
    width: 50%;
    height: 50%;
 }

 footer {
    height: 5%;
    width: 100%;
    background-color: #444;
    color: #fff;
    padding: 5px
  }